@media screen and (max-width: 1000px) {
  /* posts */

  .blog-image {
    width: 120px;
    height: 150px;
  }
  .blog-title {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .short-blog-info {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .post {
    width: 100%;
    padding: 20px 0px;
    height: fit-content;
  }

  /* header post */

  .top-post-post-title h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    font-size: 15px;
    -webkit-box-orient: vertical;
  }
  .publish-post {
    flex-direction: column;
    width: 90vw !important;
    margin: auto;
    overflow: hidden;
  }
  .publish-post-img {
    width: 100% !important;
  }
  .inputTag {
    width: 100% !important;
  }
  .top-post-post-title p {
    color: var(--light-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 12px;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 10px;
  }
  .top-posts-post-writer {
    padding: 0px 0px;
    width: 100%;
  }
  .header-post {
    background-color: red;
    height: 220px !important;
  }
  .create-post {
    padding: 20px !important;
  }
  /* portfolio */

  .genrall-info-config {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
  }
  .change-profile-pic-div {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: red !important;
  }
  .change-profile-pic-div div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .change-profile-pic-div img {
    width: 40px;
  }
  .sign-out-btn {
    right: 20px;
    border-radius: 8px;
  }
  .current-user-short-info {
    margin: auto;
    padding: 40px 0px;
  }
  .current-user-short-info p {
    text-align: center;
  }

  /* full post */
  .related-posts {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
