@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(235, 235, 235);
  font-family: "Asap", sans-serif;
}
::selection {
  color: black;
  background: var(--primary-color);
}
img {
  object-fit: cover;
}
body {
  background-color: #101010;
}
:root {
  --primary-color: #00d1bc;
  --primary-color-hover: #02a998;
  --light-color: #6a6a6a;
  --light-background: rgb(81, 80, 80);
  --light-color-hover: rgb(185, 185, 185);
  --dark-color: #353535;
  --heart-color: rgb(209, 6, 40);
  --layer2-background: #111111;
  --dark-color-hover: #646464;
  --dark-border: #181818;
  --light-border: #1c1c1c;
  --lighter-border: #303030;
  --white-text: rgb(219, 219, 219);
  --dark-background: #131313;
}
