.create-post {
  max-width: 1000px;
  padding: 40px 0px;
  margin: auto;
}
.create-post-title {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--light-border);
  padding: 10px 0px;
  margin-bottom: 20px;
  transition: 0.2s;
  outline: none;
  font-size: 23px;
}
.create-post-title:focus {
  border-bottom: 2px solid var(--white-text);
}
.create-post-content {
  width: 100%;
  height: 200px;
  font-size: 20px !important;
}
.create-post-content p,
h1,
h2,
h3,
h4,
h5,
h6,
large,
small {
  line-height: 30px;
  font-size: 18px !important;
  color: var(--white-text);
}
.create-post-content > .ql-container > .ql-editor.ql-blank::before {
  color: var(--dark-color);
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 20px;
  padding: 0px !important;
  font-style: normal;
}
.create-post-content div {
  padding: 0px !important;
}
.submitArticle {
  padding: 10px;
  border: 1px solid var(--lighter-border);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  float: right;
  margin-bottom: 20px;
}
.submitArticle:hover {
  background-color: var(--dark-border);
}
